[FIREFLY BACKEND]
# Firefly Backend Config
# Host Config: localhost
# Port Config: 6002
host = http://localhost
port = 6002


[SERENITY]
# Serenity UI Config
# Port Default: 8080
# If you change the port you will have to update the nginx config
# Host Default: 0.0.0.0
port = 8080
host = 0.0.0.0
debug = yes
ssl = no
