<md-card layout='row' layout-align='center center' layout-wrap>
    <device-card layout='row' flex layout-wrap layout-align='center center'><span style='cursor: pointer;' ng-click='selectDeviceIndex($index)' layout-align='start center' flex=''> {{::item.name}} </span>
        <md-slider layout-align='end center' ng-model=deviceStates[item.id][deviceStatus.views.dash_view.request] flex=40></md-slider>
    </device-card>
    </div>
    <md-card-content ng-show='$index ==selectedDeviceIndex' flex=100 layout-wrap>
        <md-divider></md-divider>
        <div layout='row' layout-align='center center'>
            <md-button flex=50>On</md-button>
            <md-button flex=50>Off</md-button>
        </div>
        <md-divider></md-divider>
        <md-subhead> Turn off in: </md-subhead>
        <div layout='row' layout-align='center center'>
            <md-button flex=25>30m</md-button>
            <md-button flex=25>1h</md-button>
            <md-button flex=25>2h</md-button>
            <md-button flex=25>4h</md-button>
        </div>
        <br>
        <md-card-actions layout='row' layout-align='start center' flex='100'>
            <md-button flex=50>More Info</md-button>
        </md-card-actions>
    </md-card-content>
</md-card>
