{% raw %}
<ui-view>
    <md-content layout-padding ng-cloak layout-align="center center">
        <div layout="row" layout-wrap class='md-padding' style="padding-right:10px" layout-align="center center">
            <div ng-repeat="(name, routine) in routines" ng-click="changeRoutine(); showSimpleToast('Executed ' + name + '!')" flex-sm=50 flex-md=33 flex-lg=20 flex-gt-lg="15" style="padding: 10px; " >
                <md-card layout-align="center center" style="cursor: pointer; height:0;width: 100%;padding-bottom: 50%; padding-top: 50%; background-color: eee">
                    <i class="material-icons" style="font-size:48px">{{routine.icon}}</i>
                    <br>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
    </md-content>
</ui-view>
{% endraw %}
