{% raw %}
<html lang="en" ng-app="StarterApp">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="/static/base.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
  </head>
  <body layout="row" ng-controller="AppCtrl">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')">
      <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset"  >
          <user-avatar></user-avatar>
          <span></span>
          {% endraw %}
          <div><h2>Welcome home {{ user }}!</h2></div>
          {% raw %}
        </div>
      </md-toolbar>
      <md-list layout='column' style="height: 100%">
      <md-item ng-repeat="item in menu" >
        <a  ng-click="changeLocation(item.link); toggleSidenav('left')">
          <md-item-content md-ink-ripple layout="row" layout-align="start start" >
            <div class="inset" >
             <i class="material-icons">{{::item.icon}}</i>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
      <md-divider flex></md-divider>
      <div layout-align="end none" flex=20>
      <md-subheader >Management</md-subheader>
      <md-item ng-repeat="item in admin">
        <a  ng-click="changeLocation(item.link); toggleSidenav('left')">
          <md-item-content md-ink-ripple layout="row" layout-align="start end">
            <div class="inset">
              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
      </div>
    </md-list>
    </md-sidenav>
    {% endraw %}
    <div layout="column" class="relative" flex role="main">
      <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-lg aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <h3>
            Firefly - {{title}} 
          </h3>
          <span flex></span>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch" >
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
        </div>



      </md-toolbar>
      <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch; search.$ = ''" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
          </md-button>
          <h3 flex="10">
            Back
          </h3>
          <md-input-container md-theme="input" flex>
            <label>&nbsp;</label>
            <input ng-model="search.$"  placeholder="enter search" focus-me="showSearch">
          </md-input-container>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch;">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
        </div>
       
      </md-toolbar>
      <md-content flex md-scroll-y layout-xs="column" layout="row">
        
          <ng-view layout="column" flex=100></ng-view>
          
        
      </md-content>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.min.js"></script>
    <script src="/static/angular-bind-html-compile.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script> 

    <script src="/static/app.js"></script>
  </body>
</html>
